/*****CSS*****/

/*****Fonts*****/
@font-face {
	font-family: "Gotham Book Regular";
	src: url(../fonts/GothamBookRegular.otf);
}

@font-face {
	font-family: "GothaProBol";
	src: url(../fonts/GothaProBol.otf);
}

@font-face {
	font-family: "MyriadPro-Regular";
	src: url(../fonts/MyriadPro-Regular.otf);
}


html {
	scroll-behavior: smooth;
}

body {
	background-color: #f2f2f2;
	color: #222222;
	font-family: "Gotham Book Regular", sans-serif;
	font-size: 15px;
}

.no-padding {
	padding: 0 !important;
}


/*****Header*****/

.header {
	background: url(../img/header-banner.png);
	background-repeat: no-repeat;
	background-position: top center;
	height: 100vh;
	width: 100%;
	background-size: 100% auto;
	position: relative;
	background-color: #353432;
}

.navbar {
	border-radius: 0;
}

.navbar-default {
	background-color: transparent;
	border: none; 
	border-bottom: 1px solid #626262;
}

.navbar-default .navbar-nav>li>a {
	color: #f5f5f5;
	font-family: "MyriadPro-Regular";
	font-size: 20px;
	font-weight: 400;
}

.navbar-nav > li > a {
  padding-top: 41px;
  padding-bottom: 35px;
  line-height: 20px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #17749e;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: transparent;
	border-bottom: 6px solid #11749e;
}

.navbar-brand {
	padding-left: 50px;
}

.wrap-logo:hover>img, .wrap-logo:hover>.logo-text {
	transform: rotateX(360deg);
	transition: all 2s;
}

.wrap-logo:hover>.logo-text {
	transition-delay: 0.2s;
}

.logo-text {
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	color: #f5f5f5;
	position: absolute;
	top: 37px;
	left: 65px;
	z-index: 999;
}

.wrap-soc-icons {
	float: right;
	margin: 40px 20px 0 10%;
	
}

.fab-properties {
	font-size: 20px;
	color: #f5f5f5;
}

.fab-properties:hover {
	color: #17749e;
}

.wrap-soc-icons a {
	margin-right: 19px;
}

.header-banner-content-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 19vh;
	position: absolute;
	bottom: 0;
	left: 21%;
}

.wrap-header-banner-text {
	margin-bottom: 14vh;
}

.header-banner-content-wrap h1 {
	color: #f5f5f5;
	font-family: "GothaProBol";
	font-size: 10vw;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.5vw;
	margin: 0;
}

.powerby {
	color: #11749e;
	font-size: 1.5vw;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0 0 0 1.9vw;
    letter-spacing: 1.3vw;
    margin-top: -1.6vw;
}

.wrap-scroll {
	margin-bottom: 7vh;
	text-align: center;	
}

.wrap-scroll a:hover {
	text-decoration: none;
}

.scroll-text {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 22px;
}

.scroll {
	font-size: 23px;
	color: #f5f5f5;
	border: 2px solid #f5f5f5;
	padding: 24px;
	border-radius: 50%;
}

/*****Section About Us*****/

.about {
	background-color: #11749e;
	}

.wrap-about-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.letter {
	margin: 1.3vw 0 0 0;
	opacity: 0.18;
	color: #ffffff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13vw;
	font-weight: 400;
	text-transform: uppercase;
	height: 17.6vw;
}

.tagline {
	margin: 0;
	color: #ffffff;
	font-size: 2.5vw;
	font-weight: 500;
	text-transform: uppercase;
	top: 10vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 17.6vw;
	position: absolute;
	top: 0;
    margin-top: 2vw;
}

.wrap-feature-section {
	margin: 68px 217px 128px;
}
.wrap-feature {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrap-feature-img {
	width: 133px;
	height: 133px;
	background-color: #2e85aa;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.feature-img {
	color: #ffffff;
	font-size: 34px;
}

.wrap-feature h3 {
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	text-transform: uppercase;
	margin-top: 24px;
	text-align: center;
}

.wrap-feature p {
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	margin-top: 33px;
}

/*****Section articles*****/

.wrap-article {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	}

.article, .wrap-img {
	width: 50%;
}

.article {
	padding: 4em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.article-darck {
	padding-left: 217px;
}

.article-white {
	padding-right: 217px;
}

.article>h3 {
	font-size: 1.7vw;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
}

.img-article {
	width: 100%;
}

.date {
	margin-bottom: 0;
}
/*****Section Let's blog*****/
.b-letter {
	color: #222;
	z-index: 1;
}

.lets-blog {
	background-color: #fff;
	color: #222;
	font-weight: 600;
}

.slogan {
	color: #222;
	font-size: 2vw;
	font-weight: 400;
	z-index: 1;
	margin-top: 0;
}

.lets-blog h3 {
	color: #11749e;
}

.blog-preview {
	margin-top: 0;
}

.lets-blog p {
	color: #222222;
}

.blog-item:hover {
	text-decoration: none;
}

.blog-item img {
	width: 100%;
}

/*Section Notes*/

.notes {
	background-color: #11749e;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.note {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
}

.note-img {
	font-size: 5vw;
	color: #fff;
	padding: 10px 10px 0 0;
}

.note-text {
	color: #ffffff;
	line-height: 24px;
}

/*****Section Proposition*****/

.proposition {
	background: url(../img/proposition_bg.png) no-repeat center top;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}

.proposition .wrap-feature-section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 55px;
	padding-bottom: 53px;
}

.proposition-info {
	width: 35vw;
}

.proposition-img-wrap {
	width: 25vw;
}

.proposition-img-wrap img {
	width: 100%;
	height: auto;
}

.proposition h3 {
	font-size: 1.7vw;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
}

.proposition p {
	color: #fff;
}

.button {
	display: block;
	margin-bottom: 24px;
	background-color: #11749e;
	border: none;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
	padding: 13px 19px 13px 19px;
}

.button-first {
	margin-top: 59px;
	padding-right: 135px;
}

.button-second {
	padding-right: 219px;
}

.button-third {
	padding-right: 159px;
}

/*****Section our team*****/

.our-team {
	background-color: #fff;
}

.t-letter {
	color: #222222;
	z-index: 1;
}

.team-member {
	position: relative;
	margin-bottom: 50px;
}

.team-member img {
	width: 100%;
}

.team-member-label {
	width: 75%;
	height: 117px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column-reverse;
	-moz-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	-o-flex-direction: column-reverse;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: #fff;
	position: absolute;
	bottom: -58px;
}

.nickname {
	color: #11749e;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
	margin-top: 18px;
	margin-bottom: 5px;
}

.team-member-label .position {
	color: #000000;
	font-size: 15px;
	font-weight: 600;
	line-height: 24px;
	margin: 0;
}

.our-team .wrap-feature-section {
	margin-bottom: 50px;
}

/*****Section "feedback"*****/

.feedback {
	background: url(../img/feedback_bg.png) no-repeat center top;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}

.feedback .wrap-feature-section {
	margin-bottom: 0;
}

.wrap-input-text {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: -50px;
}

.input-text {
	border: 1px solid #ffffff;
	background-color: transparent;
	color: #fff;
	height: 48px;
	letter-spacing: 0.3px;
	padding-left: 22px;
	width: 30%;
}

.textarea {
	border: 1px solid #ffffff;
	background-color: transparent;
	color: #fff;
	height: 151px;
	letter-spacing: 0.3px;
	margin-top: 39px;
	padding: 18px 0 0 22px;
	width: 100%;
}

.submit {
	background-color: #11749e;
	border: none;
	display: block;
	color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	height: 64px;
	line-height: 24px;
	margin: 56px auto;
	text-transform: uppercase;
	width: 227px;
}

/*****Section "map"*****/


.map-responsive{
    overflow:hidden;
    padding-bottom:17.85%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/****Footer*****/

.footer {
	background-color: #222222;
}

.wrap-footer-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;	
}

.footer .wrap-feature-section {
	height: 136px;
	margin-top: 0;
	margin-bottom: 0;
}

.copyright {
	color: #ffffff;;
	font-size: 13px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0.26px;
}

/*****Media queries*****/

@media (max-width: 1200px) {
	.wrap-feature {
		padding-bottom: 20px;
	}
	
	.wrap-article {
		display: block;
	}
	
	.article, .wrap-img {
		width: 100%;
	}

	.article {
		height: auto;
	}

	.wrap-article-darck {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column-reverse;
	}

	.article-darck {
		padding-right: 218px;
		text-align: justify;	
	}

	.article-white {
		padding-left: 218px;
		text-align: justify;
	}

	.article>h3, .proposition h3 {
    	font-size: 25px;
    }

    .wrap-feature .blog-preview {
		margin-top: 0;
		text-align: justify;
	}

    .proposition-img-wrap {
		width: 20vw;
	}

	.button-proposition {
		margin-top: 3vw;
		font-size: 1.3vw;
		font-weight: 500;
		line-height: 24px;
		text-transform: uppercase;
		padding: 1vw 1.2vw;
		text-align: left;
	}

	.button-first {
		width: 80%;
	}

	.button-second {
		width: 90%;
	}

	.button-third {
		width: 100%;
	}

	.feedback {
		background: url(../img/feedback_bg.png) no-repeat center top;
		-webkit-background-size: auto 100%;
		background-size: auto 100%;
	}

	.wrap-input-text {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.input-text {
		margin-bottom: 30px;
		width: 100%;
	}

	.wrap-footer-content {
		flex-direction: column-reverse;
		-ms-align-items: center;
		align-items: center;
		justify-content: flex-start;
		text-align: center;
	}
	
	.copyright {
		margin-bottom: 15px;
	}
}

@media (max-width: 1100px) {

	.wrap-soc-icons {
		margin: 18px 0 0 154px;
		float: right;
	}

	.navbar-nav > li > a {
	  	padding-top: 21px;
	  	padding-bottom: 15px;
	}

	.navbar-brand {
		padding-left: 30px;
	}

	.logo-text {
		left: 45px;
	}

}

@media (max-width: 990px) {
		.proposition {
			background: url(../img/proposition_bg.png) no-repeat center top;
			-webkit-background-size: auto 100%;
			background-size: auto 100%;
		}
	}

@media (max-width: 920px) {
	.proposition .wrap-feature-section {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.button-proposition {
		font-size: 12px;
	}

	.proposition-img-wrap {
		width: 30vw;
	}
}

@media (max-width: 808px) {
	.navbar-default .navbar-nav>li>a {
	    font-size: 18px;
	}
}

@media (max-width: 767px) {
	
	.header {
		background: url(../img/header-banner.png);
		background-repeat: no-repeat;
		background-position: top center;
		width: 100%;
		background-size: auto 100%;
		background-color: #464646;
	}


	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
		background-color: #434240;
		position: relative;
		z-index: 1;
		opacity: 0.96;
	}

	.navbar-nav>li>a {
		color: #ffffff;
	}

	.navbar-brand {
		height: 104px;
	}

	.navbar-toggle {
		margin-top: 35px;
	}

	.wrap-soc-icons {
    	margin: -63px 55px 37px 154px;
    }

    .navbar-collapse.in {
    	overflow-y: visible;
	}
	
	.navbar-default .navbar-nav>.active>a {
		border-bottom: none;
		border-left: 6px solid #11749e;
	}

	.tagline {
		font-size: 20px;
		margin-top: 20px;
		height: 115px;
    	top: 11px;
    	text-align: center;
    
	}

	.letter {
		font-size: 115px;
		height: 115px;
	}
	
	.wrap-feature-section {
    	margin: 68px 78px 128px;
	}
	
	.article>h3, .proposition h3 {
	    	font-size: 22px;
	    }

	.slogan {
		font-size: 18px;
		text-align: center;
		margin-top: 3vw;
	}

	.article-darck, .article-white {
		padding-right: 78px;
		padding-left: 78px;
		text-align: justify;		
	}

	.note-img {
		font-size: 44px;
	}

	.proposition-info {
		width:100%;
	}
	
	.wrap-input-text {
		margin-top: 0;
	}

	.submit {
		font-size: 20px;
	    height: 55px;
	    line-height: 24px;
	    margin-top: 105px;
	    width: 160px;
	}

}

@media (max-width: 467px) {
	.copyright {
		line-height: 18px;
		margin: 10px 0;
	}

	.design-by {

	}
}

@media (max-width: 450px) {
	.button-proposition {
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 422px) {

	.fab-properties {
		font-size: 18px;
	}

	.wrap-soc-icons a {
		margin-right: 17px;
	}

	.wrap-feature-section {
    	margin: 68px 31px 128px;
	}

	.note-img {
		font-size: 30px;
	}

	/*.button-proposition {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		
	}*/
}